@{
  Layout = "_Layout";
}

@model RestaurantCuisine.Models.Cuisine

<h2>Edit</h2>

<h4>Edit this cuisine: @Html.DisplayFor(model => model.Name)</h4>
<p></p>
@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.CuisineId)

  @Html.LabelFor(model => model.Name) <span>&nbsp;</span>
  @Html.EditorFor(model => model.Name) <span>&nbsp;</span>
  
  <input type="submit" value="Save" />
}<p></p>
<p>@Html.ActionLink("Back to list", "Index")</p>